.dropdown-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  top: 100%;
  left: 0;
  list-style-type: none;
  background-color: $list-bg-color;
  max-height: 500px;
  overflow-y: scroll;
  box-shadow: $main-shadow;
  border: 1px solid $black;
  border-top: 0;
  border-radius: 10px;
  width: 100%;

  & > *:not(:last-child) {
    border-bottom: 1px solid $black;
  }

  .dropdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: lighten($input-bg-color, 5%);
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    color: $list-item-text-color;
    user-select: none;
    cursor: pointer;
    word-break: break-all;

    &:hover {
      background-color: $light-gray;
    }
  }
}