form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;

  & > *:not(:last-child) {
    margin-right: 4px;
  }

  @media (max-width: 650px) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    & > *:not(:last-child) {
      margin-right: 0;
      margin-bottom: 2px;
    }
  }
}