.issue-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: $list-item-text-color;
  user-select: none;

  .issue-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    word-break: break-word;
    width: 60%;

    .issue-title {
      text-align: start;
    }

    & > *:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 650px) {
    & {
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;

      .issue-description {
        align-items: flex-end;
        width: 100%;

        .issue-title {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
}