.list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  color: $list-item-text-color;
  user-select: none;
  cursor: pointer;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &:hover {
    color: $white;
  }

  &:active {
    color: $blue;
  }
}